In [2]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    for value in iterable:
        heapq.heappush(h,value)
    for _ in range(len(h)):
        result.append(heapq.heappop(h))
    return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
from bisect import bisect_left, bisect_right

a = [1, 2, 4, 4, 8]
x = 4

print(bisect_left(a, x))
print(bisect_right(a, x))

2
4

In [4]:
def count_by_range(a, left_value, right_value):
    right_index = bisect_right(a, right_value)
    left_index = bisect_left(a, left_value)
    return right_index, left_index

a = [1,2,3,3,3,3,4,4,8,9]
print(count_by_range(a,4,4))

(8, 6)

In [5]:
print(count_by_range(a, -1, 3))

(6, 0)

In [8]:
from collections import deque
data = deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
data.pop()
print(data)
data.popleft()
print(data)

deque([1, 2, 3, 4, 5])
deque([1, 2, 3, 4])
deque([2, 3, 4])

In [11]:
from collections import Counter

counter = Counter(['r', 'b', 'b', 'g', 2, 2, 2])
print(counter)
print(counter[2])

Counter({2: 3, 'b': 2, 'r': 1, 'g': 1})
3

In [12]:
import math

print(math.factorial(4))
print(math.sqrt(8))
print(math.gcd(8, 12))
print(math.pi)
print(math.e)

24
2.8284271247461903
4
3.141592653589793
2.718281828459045

# CodeUp 기초 100제 관련 정리

#### print의 sep

In [ ]:
# 6019: "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

y,m,d=input().split('.')
print(d,m,y,sep='-')

14-05-2025

In [3]:
print("hello \\n world")
print("hello \n world")

hello \n world
hello
 world

In [2]:
# 10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

a = input()
n = int(a)            #입력된 a를 10진수 값으로 변환해 변수 n에 저장
print('%x'% n)  #n에 저장되어있는 값을 16진수(hexadecimal) 소문자 형태 문자열로 출력

# 10진수 형태로 입력받고
# %x로 출력하면 16진수(hexadecimal) 소문자로 출력된다.
# (%o로 출력하면 8진수(octal) 문자열로 출력된다.)

ff

In [4]:
# 16진수를 입력받아 8진수(octal)로 출력해보자.

a = input()
n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
print('%o' % n)  #n에 저장되어있는 값을 8진수(octal) 형태 문자열로 출력

# 8진법은 한 자리에 8개(0 1 2 3 4 5 6 7)의 문자를 사용한다.
# 8진수 10은 10진수의 8, 11은 9, 12는 10 ... 와 같다.

17

In [ ]:
# 영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력해보자.

예시
n = ord(input())
print(n)

참고
n = ord(input())  #입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.

# ord( ) 는 어떤 문자의 순서 위치(ordinal position) 값을 의미한다.  
# 실제로 각각의 문자들에는 연속된 정수 값이 순서에 따라 부여 되어 있다. A:65, B:66, C:67 .... 
# ord(c) : 문자 c 를 10진수로 변환한 값 

# 컴퓨터로 저장되고 처리되는 모든 데이터들은 2진수 형태로 정수화 되어야 하는데,
# 컴퓨터에 문자를 저장하는 방법으로 아스키코드(ASCII Code)나 유니코드(Unicode)가 자주 사용된다.

# 예를 들어, 영문 대문자 'A'는 10진수 값 65 로 표현하고, 
# 2진수(binary digit) 값 1000001 로 바꾸어 컴퓨터 내부에 저장한다. 

# 유니코드(unicode)는 세계 여러 나라의 문자를 공통된 코드 값으로 저장할 때 사용하는 표준 코드이다.

chr <-> ord 반대

In [ ]:
# 10진 정수 1개를 입력받아
# 유니코드 문자로 출력해보자.


예시
c = int(input())
print(chr(c))  #c에 저장되어 있는 정수 값을 유니코드 문자(chracter)로 바꿔 출력한다. 


참고
# 입력은 기본적으로 모두 문자열로 입력되는 것이라고 할 수 있다. 
# 따라서, 입력 값이 문자/문자열/정수/실수인지에 따라서 먼저 정확하게 변환시킨 다음에 사용하거나 계산하는 것이 좋다.

# 예를 들어 123 이 입력 되었다고 한다면, 이건 정수일까? 문자열일까?
# 조금 생각해보면, 입력된 것만 보고는 그 값이 어떤 데이터인지 알 수 없다는 것을 쉽게 이해할 수 있다.
# 따라서, 그 입력 값을 어떻게 해석하고 변환할 지에 대해서 명확하게 작성해 주어야 하는 것이다. 

# chr( )는 정수값->문자, ord( )는 문자->정수값 형태로 바꿔주는 서로 반대 방향으로 바꾸어 주는 기능을 한다

In [ ]:

실수 1개를 입력받아
소숫점 이하 두 번째 자리까지의 정확도로 반올림한 값을 출력해보자.


예시

a=input()
a=float(a)
print( format(a, ".2f") )


참고
format(수, ".2f") 를 사용하면 원하는 자리까지의 정확도로 반올림 된 실수 값을 만들어 준다. 

여기서 만들어진 값은 소수점 아래 3번째 자리에서 반올림한 값이다.

In [ ]:

입력된 정수 두 개를 비트단위로 or 연산한 후 그 결과를 정수로 출력해보자.
비트단위(bitwise) 연산자 |(or, vertical bar, 버티컬바)를 사용하면 된다.

** | 은 파이프(pipe)연산자라고도 불리는 경우가 있다.

** 비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
가 있다.

예를 들어 3과 5가 입력되었을 때를 살펴보면
3      : 00000000 00000000 00000000 00000011
5      : 00000000 00000000 00000000 00000101
3 | 5 : 00000000 00000000 00000000 00000111
이 된다.

비트단위 or 연산은 둘 중 하나라도 1인 자리를 1로 만들어주는 것과 같다.

이러한 비트단위 연산은 빠른 계산이 필요한 그래픽처리에서도 효과적으로 사용된다.

In [ ]:
a = [[1,2,3],[4,5,6],[7,8,9]]
# 5689
a[1][1:] + a[2][1:]

[5, 6, 8, 9]

print 의 end

In [ ]:

# 영문 소문자(a ~ z) 1개가 입력되었을 때,
# a부터 그 문자까지의 알파벳을 순서대로 출력해보자.

# 예시
# c = ord(input())
# t = ord('a')
# while t<=c :
#   print(chr(t), end=' ')
#   t += 1

# 참고
# 알파벳 문자 a의 정수값은 ord('a')로 알아낼 수 있다.
# chr(정수값)을 이용하면 유니코드 문자로 출력할 수 있다.
# print(..., end=' ') 와 같이 작성하면 값 출력 후 공백문자 ' '를 출력한다. 즉, 마지막에 줄을 바꾸지 않고 빈칸만 띄운다.
# (end='\n'로 작성하거나 생략하면, 값을 출력한 후 마지막(end)에 줄바꿈(newline)이 된다.)
import sys
s = ord(sys.stdin.readline().rstrip())
a = ord('a')

while a<=s:
    print(chr(a), end=' ')
    a+=1

In [ ]:
a= B
print('%X'%a)

TypeError: %X format: an integer is required, not str

 파이썬 진수 변환 https://velog.io/@code_angler/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%A7%84%EC%88%98%EB%B3%80%ED%99%982%EC%A7%84%EB%B2%95-3%EC%A7%84%EB%B2%95-5%EC%A7%84%EB%B2%95-10%EC%A7%84%EB%B2%95n%EC%A7%84%EB%B2%95

In [14]:
from collections import Counter
Counter(list['12'])[1]

TypeError: 'type' object is not subscriptable

In [15]:
a = 60

if [3,6,9] in a: print(123)

TypeError: argument of type 'int' is not iterable

In [ ]:
import sys
s = 9

for i in range(1, s+1):
    count = 0
d    if  ('3' in 'i') or ('6' in 'i') or ('9' in 'i'):
        print('h')
        for j in i:
            if j in [3,6,9]: print('X',end='')
        print(' ')
    else: 
        print(i, end=' ')

TypeError: 'in <string>' requires string as left operand, not int

In [34]:
i = str(10 )
print(list(map(int, i)))

[1, 0]

In [35]:
for i in 12345: print(i)

TypeError: 'int' object is not iterable

In [42]:
import sys
s=40
for i in range(1, s+1):
    list_i = list(map(int, str(i)))
    counter = Counter(list_i)
    if 3 in list_i or 6 in list_i or 9 in list_i:
        print('X'*(counter[3]+counter[6]+counter[9]), end=' ')
    else: print(i, end=' ')

1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X X X X XX X X XX X X XX 40

In [43]:
import sys
s=int(input())
for i in range(1, s+1):
    list_i = list(map(int, str(i)))
    counter = Counter(list_i)
    if 3 in list_i or 6 in list_i or 9 in list_i:
        print('X'*(counter[3]+counter[6]+counter[9]), end=' ')
    else: print(i, end=' ')

1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X X X X XX X X XX X X XX 40

In [44]:
import sys
s=int(input())
for i in range(1, s+1):
    list_i = list(map(int, str(i)))
    counter = Counter(list_i)
    if 3 in list_i or 6 in list_i or 9 in list_i:
        print('X'*(counter[3]+counter[6]+counter[9]), end=' ')
    else: print(i, end=' ')

1 2 X 4 5 X 7 8 X

In [22]:
import numpy as np
l = np.array([[1,2,3],[4,5,6]])
l[1]=1
l

array([[1, 2, 3],
       [1, 1, 1]])

list와 arr의 slicing (코테사용 정리)

In [35]:
import numpy as np
l =[[1,2,3],[4,5,6]]
for b in l: print(b)

[1, 2, 3]
[4, 5, 6]

In [28]:
x = 0
x = 1 if x==0 else 0
x

1

In [25]:
x

0

np.append는 원본 배열을 ㅅ구정하지 않고 수정된 새로운 배열을 반환하므로 다시저장해야함

array는 사용하지 말기 코테에서! 느리고 비효율적

In [ ]:
# 바둑알이 깔려 있는 상황이 19 * 19 크기의 정수값으로 입력된다.
# 십자 뒤집기 횟수(n)가 입력된다.
# 십자 뒤집기 좌표가 횟수(n) 만큼 입력된다. 단, n은 10이하의 자연수이다.
# 십자 뒤집기 결과를 출력한다.


import sys

# [입력] 바둑판 구성
board = []  # 바둑판

for _ in range(19): board.append(list(map(int, sys.stdin.readline().split())))
# [입력] 십자 뒤집기 횟수 n, 십자 뒤집기 좌표
n = int(sys.stdin.readline().rstrip())
coordinates = []     # 뒤집기 할 좌표
for _ in range(n): coordinates.append(list(map(int, sys.stdin.readline().split())))

for coordinate in coordinates:
    r, c = coordinate[0]-1, coordinate[1]-1
    for i in range(19): 
        board[r][i]=1 if board[r][i]==0 else 0
        board[i][c]=1 if board[i][c]==0 else 0
    
for b in board: 
    for i in b:
        print(i, end = ' ')
    print()
    print()

board:
  [[0, 0, 1], [0, 0, 1], [0, 0, 0]]
coordinates:  [[3, 3], [4, 4]]
r,c : 2 2

IndexError: list index out of range

엄청 중요한 질문이야. 두 방식은 **겉보기엔 같지만 완전히 다르게 작동**해. 설명해줄게:

---

## ✅ 1. 이런 경우:

```python
a = [[0, 0, 0]]
a.append([0, 0, 0])
a.append([0, 0, 0])
```

이 방식은 `a`의 각 행(row)이 **서로 다른 리스트 객체**야.
그래서 `a[1][1] = 1` 하면 **딱 그 위치만 바뀜**.

---

## ❌ 2. 그런데 이렇게 하면:

```python
a = [[0]*3]*3
```

이건 **같은 리스트 객체를 3번 복사한 것처럼 보여도**, 실제로는 \*\*같은 객체(참조)\*\*를 3번 반복한 거야!

즉, 내부 리스트 3개가 전부 **동일한 주소를 공유**해.

```python
id(a[0]) == id(a[1]) == id(a[2])  # True
```

그래서 `a[1][1] = 1` 하면 **모든 행의 \[1] 위치가 같이 바뀜**.

---

## 💥 예시 비교:

```python
a = [[0]*3]*3
a[1][1] = 1
print(a)
# 출력: [[0, 1, 0], [0, 1, 0], [0, 1, 0]]  ❌ 원하는 결과 아님

b = []
for _ in range(3):
    b.append([0]*3)
b[1][1] = 1
print(b)
# 출력: [[0, 0, 0], [0, 1, 0], [0, 0, 0]]  ✅ 올바른 결과
```

---

## ✅ 결론

| 코드                            | 리스트 객체 각각 다름? | `a[1][1]=1` 결과 |
| ----------------------------- | ------------- | -------------- |
| `[[0]*3]*3`                   | ❌ 전부 같은 객체    | 모두 바뀜          |
| `[ [0]*3 for _ in range(3) ]` | ✅ 각각 다른 객체    | 딱 1개만 바뀜       |

---

### 👉 해결법:

```python
a = [ [0]*3 for _ in range(3) ]
```

이렇게 하면 각 행이 독립된 리스트니까 안전하게 쓸 수 있어!

In [87]:
a = [[0]*5 for _ in range(3)]
a

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]