# Chapter 1. 파이썬 시작하기

## 1-3. 이 책에서 자주 나오는 파이썬 용어들

**키워드**: 특별한 의미가 부여된 단어(ex.False, None, and, if, or, else, while)  
**식별자**: (주로 변수 또는 함수)이름을 붙일 때 사용하는 단어  

> 키워드 사용x/ 특수문자는 _만 허용/ 숫자시작x/ 공백 포함x  


1.   단어 첫 글자를 소문자로 시작 + 단어 사이에 _기호 -> 스네이크 케이스 (ex. item_list) -> 뒤에 괄호 O(함수)/ X(변수)
2.   단어 첫 글자를 대문자 -> 캐멀 케이스 (ex. ItemList) (-> 클래스)
**주석**: # 뒷부분 주석 처리  
**출력: print()** 여러개 출력원하면 ,로 연결  
줄바꿈은 print().  
  
**함수는 키워드가 아닌 식별자! 식별자 중 스네이크 케이스임!**

In [ ]:
print(23, 52, "안녕하세요")
print()

23 52 안녕하세요

**sep와 end**  
sep=" "; 출력문들 사이에 해당하는 내용 넣기(기본: 공백)  
end=" "; 문자를 출력하고 마지막에 무엇을 쓰고 끝낼지 정하기(기본: '\n')

In [ ]:
# sep
print("010", "5393", "1882", "내 번호", sep="-")

010-5393-1882-내 번호

In [ ]:
# end
print("내가 할 수 있는 것은", 1, "개 하는 것", end = "!!!")

내가 할 수 있는 것은 1 개 하는 것!!!

# Chapter 2. 자료형

# 2-1. 자료형과 문자열

**자료형**  
문자열(string), 숫자, 불  
자료형 확인할 때 type()함수 사용

In [ ]:
print(type("안녕하세요"))

<class 'str'>

**문자열 만들기**  
큰 따옴표, 작은 따옴표 모두 가능!! -> 이를 이용하여 문자열 내부 따옴표 출력 설정  
출력할 따옴표와 문자열 만들기 위한 따옴표가 같으면 **SyntaxError(구문오류)**발생  
이스케이프 문자(\) -> \"("출력), \'('출력), \n(줄바꿈), \t(탭), \\(\출력)  
여러 줄 문자열 만들기

1.   \n 활용
2.   큰 따옴표 또는 작은 따옴표 세 번 반복하기.  
"""후 한 줄 띄고 시작 한줄 띄고 """으로 끝날 시 의도치 않은 줄바꿈 생성.  
원하지않는다면 \을 붙여야함(예제1)

In [ ]:
print("""\
동행물과
백두산이
마르고
닳도록\
""") #위 아래 의도치 않은 공백을 없애기 위해 \붙이기
print("""동해물과
백두산이
마르고
닳도록
""")
print("'안녕하세요'라고 말함") #큰 따옴표로 묶어 작은 따옴표 출력
print("\\\\") # \\일 때 \출력

동행물과
백두산이
마르고
닳도록
동해물과
백두산이
마르고
닳도록

'안녕하세요'라고 말함
\\

**문자열 연산자**  
+(연결), *(반복), [](인덱싱.숫자 0부터 세는 것 주의!!. 거꾸로 출력하는 방법 알아두기!), [:](슬라이싱. 마지막 숫자를 포함하지 않음!!!)

In [ ]:
print("안녕"+"하세요") #연결
print("2"+"30") #연결
print("헬로"*3) #반복
print("안녕하세요"[0]) #인덱싱 0부터 시작!
print("안녕하세요"[4])
print("안녕하세요"[-1]) #인덱싱 거꾸로는 -1부터 시작!
print("안녕하세요"[-5])
print("안녕하세요"[1:4])#슬라이싱 마지막 숫자 포함 x!
print("안녕하세요"[2:])
print("안녕하세요"[:10])

안녕하세요
230
헬로헬로헬로
안
요
요
안
녕하세
하세요
안녕하세요

**IndexError**: 리스트/문자열의 수를 넘는 요소/글자 발생  
ex. print("안녕하세요"[10])  
**문자열의 길이 구하기**: len()함수 사용

In [ ]:
print(len("안녕하세요"))

5

# 2-2. 숫자

**숫자의 종류**
1. 정수형(integer) ex. 0, 2, 5, 333
2. 실수형(float) ex. 0.0, 34.33, 0.522e2(지수)

In [ ]:
print(type(0))
print(type(0.0))
print(23.333e-2)

<class 'int'>
<class 'float'>
0.23333

**숫자 연산자**  
+, -, '***'(**곱셈), /, //(몫만 구함. 정수 나누기 연산자), %(나머지 연산자), ****(**제곱 연산자)  
**TypeError**: 서로 다른 자료를 연산 (문자열 + 숫자)

In [ ]:
print(3/2)
print(3//2)
print(3%2)
print(2**3)

1.5
1
1
8

In [ ]:
string = "문자열"
number = 23
string + number

TypeError: ignored

# 2-3. 변수와 입력

**변수 선언**: '변수 = 값'하면 된다. 자바, C와 달리 자료형 선언 필요x.  
**복합 대입 연산자**   
숫자: +=, -=, **=*, /=, %=, **=  
문자열: +=(문자열 연결 후 대입), *=(문자열반복 후 대입)

In [ ]:
number = 3
number += 1
print(number)
number **= 3
print(number)
number %= 5
print(number)

4
64
4

In [ ]:
string = "안녕"
string += "!"
string *= 3
print(string)

안녕!안녕!안녕!

**사용자 입력: input()**  
input함수에 숫자, 문자열, 불 중 어떤 것을 입력해도 출력은 **문자열 자료형**이다!

In [ ]:
string = input("입력> ")
print(type(string))

입력> True
<class 'str'>

In [ ]:
string = input("입력> ")
#print("입력 + 100 =", string + 100) #input을 integer로 해도 input의 결과는 string이기 때문에 숫자와 문자열 덧셈 불가능! TypeError발생

입력> 2

**캐스트: 문자열을 숫자로 바꾸기**  
int()(소수점 버림), float()  
**ValueError**: 자료형을 변환할 때 변환할 수 없는 것을 변환하려고 할 시에 발생.


1.   숫자가 아닌 것을 숫자로 변환. ex)int("안녕")
2.   소수점이 있는 숫자 형식의 문자열을 int()로 변환 ex)int("42.222")

**숫자를 문자열로 바꾸기**: str()함수 사용

# 2-4. 숫자와 문자열의 다양한 기능  
(문자열 뒤에 .찍으면 나오는 문자열이 가지고 있는 자체적인 기능)

**문자열의 format()함수**" format()함수는 문자열로 출력한다! 숫자를 문자열로 변환 가능

In [ ]:
string = "{}".format(10)
print(type(string))

<class 'str'>

**IndexError**: {}기호의 개수 > format()함수의 매개변수 개수 일 때 발생!  
{}보다 format()함수의 매개변수 개수가 많을 땐 발생하지 않는다.

In [ ]:
"{} {}".format(1, 2, 3, 4, 5) #{}개수 < format()매개변수 개수 -> 정상 실행

'1 2'

In [ ]:
"{}{}{}{}{}{}{}".format(1, 2)  #{}개수 > format()매개변수 개수 -> IndexError

IndexError: ignored

**format()함수의 다양한 기능**

In [ ]:
#정수 출력의 다양한 형태
a = "{:d}".format(52) # {:d}는 int자료형의 정수를 출력하겠다는 뜻!!
b = "{:5d}".format(52) # 5칸에 오른쪽 출력
c = "{:10d}".format(52)
d = "{:05d}".format(52) # 5칸 왼쪽부터 0채우기
e = "{:05d}".format(-52) # 5칸 -로 시작하여 0채우고 숫자

print(a)
print(b)
print(c)
print(d)
print(e)

52
   52
        52
00052
-0052

In [ ]:
#기호 붙여 출력하기
a = "{:+d}".format(52) # +붙이면 양수인 경우 + 출력
b = "{:+d}".format(-52) # 음수
c = "{: d}".format(52) # 공백시 양수인 경우 기호부분 공백
d = "{: d}".format(-52) # 음수
print(a)
print(b)
print(c)
print(d)

+52
-52
 52
-52

In [ ]:
#조합해보기
a = "{:+5d}".format(52) # 기호를 뒤로 밀기
b = "{:+5d}".format(-52) # 음수
c = "{:=+5d}".format(52) # 기호를 앞으로 밀기
d = "{:=+5d}".format(-52) # 음수
e = "{:+05d}".format(52) # 기호는 앞으로 밀고 0으로 채우기
f = "{:+05d}".format(-52) # 음수
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

  +52
  -52
+  52
-  52
+0052
-0052

In [ ]:
#부동 소수점 출력의 다양한 형태
a = "{:f}".format(52.273)
b = "{:15f}".format(52.273)
c = "{:+15f}".format(52.273)
d = "{:+015f}".format(52.273)
print(a)
print(b)
print(c)
print(d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [ ]:
#소수점 아래 자릿수 지정하기
a = "{:15.3f}".format(52.273)
b = "{:015.2f}".format(52.273)
print(a)
print(b)

         52.273
000000000052.27

In [ ]:
#의미없는 소수점 0 제거하기
a = 52.0
output = "{:g}".format(a)
print(a)
print(output)

52.0
52

**대소문자 바꾸기: upper()와 lower()** -> 비파괴적 함수이다.  
**문자열 양옆의 공백 제거하기: strip(), lstrip()(왼쪽 공백 제거), rstrip()(오른쪽 공백 제거)**  
**문자열의 구성 파악하기: isOO()**: 출력은 True나 False로 나옴  
isalnum(): 알파벳 또는 숫자로만 구성  
isalpha(): 알파벳으로 구성  
isdentifier(): 식별자로 사용가능한 문자열인가  
isdecimal(): 정수로 구성  
isdigit(): 숫자로 인식될 수 있는 것인가  
isspace(): 공백인가   
islower(): 소문자인가  
isupper(): 대문자인가  
**문자열 찾기: find()와 rfind()**(문자열은 0번부터 시작!!)  
find(): 왼쪽부터 찾아서 처음 등장하는 위치찾기
rfind():오른쪽부터 찾기.   
**문자열과 in 연산자**: 문자열 내부에 어떤 문자열이 있는지 확인. 출력은 True or False  
**문자열 자르기: split()**: 문자열을 괄호 안의 특정한 문자 기준으로 자름. 실행결과는 리스트!!

In [ ]:
#upprt()와 lower()
a = "Hello Python"
a.upper()

'HELLO PYTHON'

In [ ]:
#양옆 공백 제거 strip()
a = """
     안녕하세요
  박서윤입니다.
  """
print(a)

     안녕하세요
  박서윤입니다.

In [ ]:
print(a.strip())

안녕하세요
  박서윤입니다.

In [ ]:
print(a.rstrip())

     안녕하세요
  박서윤입니다.

In [ ]:
#문자열 구성: isOO()
print("Tra12".isalnum())
print("Tra12".isdigit())
print("342".isdigit())

True
False
True

In [ ]:
#문자열 찾기: find()와 rfind()
a = "안녕안녕하세요".find("안녕")
print(a)
b = "안녕안녕하세요".rfind("안녕")
print(b)

0
2

In [ ]:
#in연산자
print("안녕"in"안녕하세요")
print("잘자"in"안녕하세")

True
False

In [ ]:
#문자열 자르기 split()
a = "10 20 30 40 50".split() //공백 기준 자르기
print(a)

['10', '20', '30', '40', '50']

# Chapter 3. 조건문

# 3-1. 불 자료형과 if 조건문

**불 만들기: 비교 연산자**  
==(같다), !=(다르다), <, >, <=, >=  
한글은 가나다순으로 앞에 있는 것이 작은 값!

In [ ]:
print(10 == 100)
print(10 <= 10)
print("가방" == "가방")
print("가방" > "하마")

False
True
True
False

In [ ]:
x = 25
print(10 < x < 30)

True

**불 연산하기: 논리 연산자**  
not, and, or

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
x = 10
under_20 = x < 20
print(under_20)
print(not under_20)

True
False

In [ ]:
print(True and False)
print(True or False)

False
True

**if 조건문**  
if 불 값이 나오는 표현식:  
> 불 값이 참일 때 실행할 문장

In [ ]:
if True:
  print("진짜야")
  print("찐찐찐으루")

진짜야
찐찐찐으루

In [ ]:
if False:           # False = 0 이므로 실행 x
  print("과연?")

In [ ]:
number = input("정수 입력> ")
last_character = number[-1]

if last_character in "13579":
  print("홀수")
if last_character in "24680":
  print("짝수")

정수 입력> 20
짝수

**날짜/ 시간 활용하기**  
날짜/시간 관련 기능 가져오기 ->  import datetime  
현재 날짜/시간 구하기 -> now = datetime.datetime.now()  
개별 출력 -> now.year, now.month, now.day, now.hour, now.minute, now.second

In [ ]:
import datetime
now = datetime.datetime.now()

if now.hour< 12:
  print("현재 시각은 {}시 오전입니다.".format(now.hour))
else:
  print("현재 시각은 {}시 오후입니다.".format(now.hour))

현재 시각은 15시 오후입니다.

# 3-2. if~else와 elif 구문

if~else문: 조건 하나의 참, 거짓에 따라 조건문이 오로지 두 가지로만 구분될 때 사용.  
elif문: 세 개 이상의 조건을 연결해서 사용해야 할 때

In [ ]:
#elif문
import datetime
now = datetime.datetime.now()

if 3 <= now.month <= 5 :    #if 조건A:
  print("봄")
elif 6 <= now.month <= 8 :  #elif 조건B:
  print("여름")
elif 9 <= now.month <= 11 : #elif 조건C:
  print("가을")
else:                       #if now.month = 12 or 1 <= now.month <= 2:
  print("겨울")

봄

**False로 변환되는 값**: None, 0, 0.0, 빈 컨테이너(공백X).. 그 외는 모두 True

In [ ]:
if "":
  print("빈 문자열은 True")
else:
  print("빈 문자열은 False")

빈 문자열은 False

**pass 키워드**  
아직 구현하지 않아 if조건문에 실행문을 작성하지 않을 경우 **IndetationError**발생 -> pass 키워드 활용시 해결  
  
코드개발 잊어버리지말라고 오류 강제 발생 -> **raise NotImplementedError**

In [ ]:
number = int(input("정수 입력> "))
if number > 0:
  pass
else:
  pass

정수 입력> 3

In [ ]:
number = int(input("정수 입력> "))
if number > 0:
  raise NotImplementedError
else:
  raise NotImplementedError

정수 입력> 3

NotImplementedError: ignored

# Chapter 4. 반복문

# 4-1. 리스트와 반복문

**리스트**: 여러가지 자료를 저장할 수 있는 자료 ex) array = [273, 32, "문자열",True]  
**리스트 선언하고 요소(element)에 접근하기**  
인덱스는 0부터 시작!

In [ ]:
list_a = [273, 32, "문자열", True, False]
list_a[-2] #음수로 뒤에서부터 접근 가능

True

In [ ]:
list_a[1:3] #1번째 글자부터 2번째 글자까지 선택!! 3번째 글자 선택XXXX!!!

[32, '문자열']

In [ ]:
# 특정 요소 변경
list_a[0] = "변경"
list_a

['변경', 32, '문자열', True, False]

In [ ]:
#접근 연산자 이중으로 가능
list_a[2][1]

'자'

In [ ]:
# 리스트 안에 리스트
list_a = [[1, 2, 3],[4, 5, 6], [7, 8, 9]]
list_a[1]

[4, 5, 6]

In [ ]:
list_a[2][0]

7

**리스트에서의 IndexError**: 리스트의 길이를 넘는 인덱스로 요소에 접근하려고 할 때 발생.

In [ ]:
list_a = [273, 32, 103] #인덱스 0, 1, 2
list_a[3] #길이를 넘는 요소에 접근

IndexError: ignored

**리스트 연산자: 연결(+), 반복(*), len() - 비파괴적**

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

print("list_a + list_b = ", list_a + list_b)
print("list_a * 3 = ", list_a * 3)
print("len(list_a) = ", len(list_a))  #len()은 문자열의 글자 수를 세어주므로 숫자를 넣을 땐 len(str())해줘야함.

list_a + list_b =  [1, 2, 3, 4, 5, 6]
list_a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]
len(list_a) =  3

**리스트에 요소 추가하기: append, insert, extend - 파괴적**  
리스트명.append(요소): 리스트 뒤에 요소 추가  
리스트명.insert(위치, 요소): 리스트 중간에 요소 추가
리스트명.extend([]): 리스트 뒤에 한 번에 여러 요소 추가

In [ ]:
list_a = [1, 2, 3]
list_a.append(6)
list_a.insert(3, 5)
list_a

[1, 2, 3, 5, 6]

In [ ]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])
list_a

[1, 2, 3, 4, 5, 6]

**리스트에 요소 제거하기**  
1. 인덱스로 제거하기: del, pop (del키워드는 범위 지정가능/ 마지막 요소포함xx!)  
del 리스트명[인덱스]  
리스트명.pop(인덱스)  
2. 값으로 제거하기: remove  
3. 모두 제거하기: clear

In [ ]:
list_a = [0, 1, 2, 3, 4, 5]
del list_a[2]
list_a.pop(2)
list_a

[0, 1, 4, 5]

In [ ]:
list_b = [0, 1, 2, 3, 4]
del list_b[2:4] #마지막 4번째 요소 포함 X
list_b

[0, 1, 4]

In [ ]:
list_b = [0, 1, 2, 3, 4]
del list_b[2:]
list_b

[0, 1]

In [ ]:
list_b = [0, 1, 2, 3, 4]
del list_b[:2] #마지막 2번째 요소 포함 X
list_b

[2, 3, 4]

In [ ]:
#remove()함수 : 리스트 내부에 여러 개 있어도 가장 먼저 발견되는 하나만 제거!
list_c = [1, 2, 1, 2]
list_c.remove(2)
list_c

[1, 1, 2]

In [ ]:
list_c.clear()
list_c

[]

**리스트 내부에 있는지 확인하기: in/ not in 연산자**: 값 (not)in 리스트

In [ ]:
list_a = [273, 32, 103, 5, 52]
273 in list_a

True

In [ ]:
32 not in list_a

False

**for 반복문: 리스트와 함께 사용하기**  
for 반복자 in 반복할 수 있는 것: ( : 빼먹지 말기!)

In [ ]:
array = [273, 32, 103, 57, 52]
for element in array:
  print(element)

273
32
103
57
52

In [ ]:
list_of_list = [
                [1, 2, 3],
                [4, 5, 6, 7],
                [8, 9]
]

for element in list_of_list:
  for item in element:
    print(item)

1
2
3
4
5
6
7
8
9

# 4-2. 딕셔너리와 반복문

**딕셔너리**: 키를 기반으로 값을 저장하는 것 (VS. 리스트: 인덱스를 기반으로 값을 저장하는 것)  
**딕셔너리 선언하기**:중괄호{}로 선언하며, '키: 값'형태를 쉼표(,)로 연결  
**딕셔너리 요소에 접근하기**: 요소 접근시 대괄호[] 사용!!
**NameError**: 딕셔너리 만들 때 따옴표 없이 키 정의.

In [ ]:
# 딕셔너리 선언하기
dict_a = {
    "name": "건조망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "색소"],
    "origin": "필리핀"
}
# 딕셔너리 요소에 접근
print("name: ", dict_a["name"])
print("두 번째 ingredient: ", dict_a["ingredient"][1])

name:  건조망고
두 번째 ingredient:  설탕

In [ ]:
# 값을 변경
dict_a["name"] = "건조귤"
dict_a

{'ingredient': ['망고', '설탕', '색소'],
 'name': '건조귤',
 'origin': '필리핀',
 'type': '당절임'}

In [ ]:
# Name Error
dict_key = {
    name: "건조망고",
    "type": "당절임"
}

NameError: ignored

**딕셔너리에 값 추가하기/ 제거하기**  
추가 -> 딕셔너리[새로운 키] = 새로운 값  
제거 -> del 딕셔너리[삭제할 키]

In [ ]:
dict_a = {
    "name": "건조망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "색소"],
    "origin": "필리핀"
}
dict_a["price"]= 4000
dict_a

{'ingredient': ['망고', '설탕', '색소'],
 'name': '건조망고',
 'origin': '필리핀',
 'price': 4000,
 'type': '당절임'}

In [ ]:
del dict_a["origin"]
dict_a

{'ingredient': ['망고', '설탕', '색소'],
 'name': '건조망고',
 'price': 4000,
 'type': '당절임'}

**KeyError**: 딕셔너리의 존재하지 않는 키에 접근시 발생  (VS. 리스트는 IndexError)

In [ ]:
dictionart = {}
dictionart["key"]

KeyError: ignored

**딕셔너리 내부에 키가 있는지 확인하기**  
* in 키워드
*get() 함수 - 존재하지 않는 키에 접근할 경우 KeyError를 발생시키지 않고 None을 출력

In [ ]:
# in 키워드
dict_a = {
    "name": "건조망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "색소"],
    "origin": "필리핀"
}
key = input("접근하고자 하는 키: ")

if key in dict_a:
  print(dict_a[key])
else:
  print("존재하지 않는 키")

접근하고자 하는 키: ingredient
['망고', '설탕', '색소']

In [ ]:
# get() 함수
dict_a = {
    "name": "건조망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "색소"],
    "origin": "필리핀"
}
value = dict_a.get("price")
print("값: ", value)

if value == None:
  print("존재하지 않는 키")

값:  None
존재하지 않는 키

**for 반복문: 딕서녀리와 함께 사용하기**  
for 키 변수 in 딕셔너리:

In [ ]:
dict_a = {
    "name": "건조망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "색소"],
    "origin": "필리핀"
}

for key in dict_a:
  print(key, ":", dict_a[key])

name : 건조망고
type : 당절임
ingredient : ['망고', '설탕', '색소']
origin : 필리핀

# 4-3. 반복문과 while 반복문

**범위(for반복문과 함께 많이 사용)** : 매개변수는 항상 정수   
range(A): 0 ~ A-1의 정수 범위  
range(A, B): A ~ B-1의 정수 범위  
range(A, B, C): A ~ B-1의 정수 범위를 C만큼 차이 나도록  
** A > B 일 경우 A ~ B+1의 정수범위

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(9, 2, -1))

[9, 8, 7, 6, 5, 4, 3]

매개변수로 나눗셈 사용시 결과가 실수이므로 오류 발생!


```
n = 10
a = range(0, n / 2) -> TypeError
a = range(0, n // 2) -> 정상 작동
```


n/2(나눗셈)대신 n//2(정수 나누기 연산자) 사용!

**for 반복문: 범위와 함께 사용하기**  
for 숫자 변수 in 범위:

In [ ]:
for i in range(0, 10, 3):
  print(str(i) + " = 반복 변수")

0 = 반복 변수
3 = 반복 변수
6 = 반복 변수
9 = 반복 변수

**for 반복문: 리스트와 범위 조합하기**

In [ ]:
array = [273, 32, 103, 57, 52]
for i in range(len(array)):
  print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

**for 반복문: 반대(큰 수 -> 작은 수)로 반복하기**
1. range() 함수의 매개변수를 세 개 사용
2. reversed() 함수 사용

In [ ]:
# range() 이용
for i in range(4, -1, -1):
  print("현재 반복 변수: {}".format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

In [ ]:
for i in reversed(range(5)):
  print("현재 반복 변수: {}".format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

**while 반복문**: 조건(불 표현식)이 참인 동안 반복 실행  
while 불 표현식:  
      문장

**while 반복문: for 반복문처럼 사용하기**

In [ ]:
i = 0
while i < 5:
  print("{}번째 반복".format(i))
  i += 1

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복

**while 반복문: 상태를 기반으로 반복하기**

In [ ]:
list_a = [1, 2, 1, 2]
value = 2

while value in list_a:
  list_a.remove(value)

print(list_a)

[1, 1]

**while 반복문: 시간을 기반으로 반복하기**

In [ ]:
import time # 시간 관련 기능 가져오기
            #time.time() 유닉스 타임: 1970.01.01.0시0분0초 기준 몇 초가 지났는가.
number = 0
target_tick = time.time() + 5
while time.time() < target_tick:
  number += 1

print("5초 동안 {}번 반복".format(number))

5초 동안 22500145번 반복

**while 반복문: break 키워드/ continue 키워드**  
break 키워드: 반복문을 벗어날 때 사용  
continue 키워드: 현재 반복을 생략하고, 다음 반복으로 넘어갈 때 사용

In [ ]:
# break 키워드
i = 0

while True:
  print("{}번째 반복문".format(i))
  i = i + 1

  input_text = input(">종료하시겠습니까?(y): ")
  if input_text in ["y", "Y"]:
    print("반복 종료")
    break                                  # y or Y 일시 while반복문 벗어남

0번째 반복문
>종료하시겠습니까?(y): n
1번째 반복문
>종료하시겠습니까?(y): n
2번째 반복문
>종료하시겠습니까?(y): y
반복 종료

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
  if number < 10:
    continue              # number < 10 이면 아래의 반복문은 행하지 않고 다음 반복 실행
  print(number)

15
20
25