## 4-4. 문자열, 리스트, 딕셔너리와 관련된 기본 함수

### 리스트에 적용할 수 있는 기본 함수: min(), max(), sum()
min(): 리스트 내부에서 최솟값  
max(): 리스트 내부에서 최대값  
sum(): 리스트 내부 모두 더한 값  
cf. min()과 max()는 리스트 사용하지 않아도 됨. (ex. min(12, 5, 2) => 2)

In [ ]:
numbers = [52, 27,99]
min(numbers)

###reversed()함수로 리스트 뒤집기
reversed()함수의 결과가 제너레이터이기에 함수의 결과는 한 번만 활용한다!

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_reversed = reversed(list_a)

print("reversed([1, 2, 3, 4, 5]) : ", list_reversed)               # 이터레이터
print("list(reversed([1, 2, 3, 4, 5])) : ", list(list_reversed))   # 리스트 형태로
print()

print("for i in reversed([1, 2, 3, 4, 5]) : ")
for i in list_reversed:
  print("첫 번째 반복문: {}", i)

for i in list_reversed:                 #reversed()반복문은 한 번만 활용하므로 출력 X
  print("두 번째 반복문: {}", i)

for i in reversed(list_a):              # 필요한 시점에 reversed()사용 시 출력
  print("세 번째 반복문: {}", i)

reversed([1, 2, 3, 4, 5]) :  <list_reverseiterator object at 0x7f5bc187ef90>
list(reversed([1, 2, 3, 4, 5])) :  [5, 4, 3, 2, 1]

for i in reversed([1, 2, 3, 4, 5]) :
세 번째 반복문: {} 5
세 번째 반복문: {} 4
세 번째 반복문: {} 3
세 번째 반복문: {} 2
세 번째 반복문: {} 1

In [ ]:
# 리스트 뒤집는 방법: 확장 슬라이싱[::-1] - 비파괴적
numbers = [1, 2, 3, 4, 5]
numbers[::-1]

[5, 4, 3, 2, 1]

In [ ]:
"안녕하세요"[::-1]

'요세하녕안'

### enumerate() 함수와 반복문 조합하기: 리스트 요소 반복시 현재 인덱스가 몇 번째인지 자동 확인  
리스트 사용시!!!!  
for i, value enumerate(list_a):  
  print("~")
꼴로 사용

In [ ]:
example_list = ["요소A", "요소B", "요소C"]

print("# 단순 출력")
print(example_list)
print()

print("# enumerate() 함수 적용 출력")
print(enumerate(example_list))
print()

print("# list() 함수fh 강제 변환 출력")
print(list(enumerate(example_list)))
print()

print("# 반복문과 조합하기")
for i, value in enumerate(example_list):
  print("{}번째 요소는 {}입니다.".format(i, value))

# 단순 출력
['요소A', '요소B', '요소C']

# enumerate() 함수 적용 출력
<enumerate object at 0x7f5bb952aeb0>

# list() 함수fh 강제 변환 출력
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

# 반복문과 조합하기
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

**딕셔너리의 items() 함수와 반복문 조합하기**  
for key, element in dictionary.items():  
    print("~")  꼴로 작성

In [ ]:
example_dictionary = {
    "키A": "값A",
    "키B": "값B",
    "키C": "값C",
}
print("# 딕셔너리의 items() 함수")
print("items(): ", example_dictionary.items())
print()

print("# 딕셔너리의 items() 함수와 반복문 조합하기")
for key, element in example_dictionary.items():
  print("dictionary[{}] = {}".format(key, element))

# 딕셔너리의 items() 함수
items():  dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

# 딕셔너리의 items() 함수와 반복문 조합하기
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

**리스트 내포**: 반복문을 사용하여 리스트 재조합  
리스트 이름 = [ 표현식 for 반복자 in 반복할 수 있는 것 ]

In [ ]:
array = [i*i for i in range(0, 20, 2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

**조건을 활용한 리스트 내포**  
리스트 이름 = [ 표현식 for 반복자 in 반복할 수 있는 것 if 조건문]

In [ ]:
array = ["사과", "자두", "초콜릿", "바나나"]

In [ ]:
output = [fruit+"1" for fruit in array if fruit != "초콜릿"]
print(output)

['사과1', '자두1', '바나나1']

**구문 내부에 여러 줄 문자열 사용시 예상치 못 한 들여쓰기 막는 방법**
1. 괄호로 문자열 연결
2. 문자열의 join() 함수: 리스트의 요소를 문자열로 연결  
문자열.join(문자열로 구성된 리스트)

In [ ]:
# 예상치 못 한 들여쓰기
number = 2

if number % 2 == 0:
  print("""\
      입력한 문자열은 {}입니다.
      {}는 짝수입니다.""".format(number, number))

      입력한 문자열은 2입니다.
      2는 짝수입니다.

In [ ]:
# 괄호로 문자열 연결하기 예시
test = (
    "이렇게 입력해도"
    "하나의 문자열이 되어"
    "생성된다"
)
print(test)

이렇게 입력해도하나의 문자열이 되어생성된다

In [ ]:
# 괄호로 문자열 연결하여 해결
number = 2

if number % 2 == 0:
  print((
      "입력한 문자열은 {}입니다.\n"  # \n이 ""안으로 들어가야함!!!
      "{}는 짝수입니다."
  ).format(number, number))

입력한 문자열은 2입니다.
2는 짝수입니다.

In [ ]:
# 문자열 join()함수 예시
print("::".join(["1","2","3","4","5"]))

1::2::3::4::5

In [ ]:
# 문자열 join() 함수 사용하여 해결
number = 2

if number % 2 == 0:
  print("\n".join(["입력한 문자열은 {}입니다.", "{}는 짝수입니다."]).format(number, number))

입력한 문자열은 2입니다.
2는 짝수입니다.

**이터레이터**  
*for 반복자 in 반복할 수 있는 것*  
이터러블= 반복할 수 있는 것 = 내부에 있는 요소를 차례차례 꺼낼 수 있는 객체 ex.리스트, 딕셔너리, 문자열 튜플 등  
이터레이터= 이터러블 중 next() 함수를 적용해 하나하나 꺼낼 수 있는 요소

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = reversed(numbers)

print("reversed_numbers : ", r_num) #reversed()함수의 리턴값은 이터레이터
print(next(r_num))  # next() 함수로 이터레이터 내부의 요소를 하나하나 꺼냄
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

reversed_numbers :  <list_reverseiterator object at 0x7f5bb94f9b10>
6
5
4
3
2
1

# Chapter 5. 함수

# 5-1. 함수 만들기

**함수의 기본**  
def 함수 이름(매개변수, 매개변수, ...):  
       문장
  
매개변수를 덜 넣거나 더 넣으면 **TypeError**발생

In [ ]:
def print_n_times(value, n):
  for i in range(n):
    print(value)

print_n_times("안녕", 3)

안녕
안녕
안녕

In [ ]:
print_n_times("안녕")

TypeError: ignored

**가변 매개변수**: 원하는 만큼 매개변수를 받을 수 있음.  
def 함수 이름(매개변수, 매개변수, *가변 매개변수):


*   가변 매개변수 뒤에는 일반 매개변수 올 수 X.
*   가변 매개변수는 하나만 사용 가능

**기본 매개변수**: '매개변수 = 값' 형태로 기본값이 들어가있음.
* 기본 매개변수 뒤에는 일반 매개변수가 올 수 X.

**키워드 매개변수**: 매개변수 이름을 지정해서 입력하여 가변과 기본 매개변수를 함께 사용할 수 있게 해줌.  
  
일반>가변>기본(but 키워드) 순으로 작성.

In [ ]:
def print_n_times (*values, n=2):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times("안녕", "난 박서윤이야", n=3)

안녕
난 박서윤이야

안녕
난 박서윤이야

안녕
난 박서윤이야

In [ ]:
# 필요한 값만 입력하기
def test(a, b=10, c=100):
  print(a + b + c)

test(10, 20, 30)
test(c =10, a=30, b=100)
test(20, c=200)

60
140
230

**리턴**  
자료 없이 리턴 = 함수 끝 -> return으로 끝

In [ ]:
def return_test():
  print("A 위치입니다.")
  return
  print("B 위치입니다.")

In [ ]:
return_test()

A 위치입니다.

자료와 함께 리턴

In [ ]:
def return_test():
  return 100

value = return_test()
print(value)

100

아무것도 리턴 X -> None 출력

In [ ]:
def return_test():
  return

value = return_test()
print(value)

None